@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if (TempData["msg"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> @TempData["msg"]
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}   

<h1>Welcome @ViewBag.User</h1>
<br />
<a style="margin-top:100px;" class="btn btn-danger" asp-controller="Home" asp-action="Logout">Logout</a>
