@model Student
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container row">
    <div class="col-sm-4">
        <form class="d-grid" asp-action="Index" asp-controller="Home" method="post">
            <input asp-for="Id" placeholder="Enter Id" class="form-control"/> 
            <br/>
            <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
                <option value="">Select Gender</option>
            </select>
            <br/>
            <input asp-for="Name" placeholder="Enter Name" class="form-control" />
            <br/>
            <input asp-for="RollNo" placeholder="Enter Roll no" class="form-control" />
            <br/>
            <input asp-for="Age" placeholder="Enter Age" class="form-control" />
            <br/>
            <input type="submit" value="Submit" class="btn-block btn btn-outline-primary"/>
        </form>
    </div>
</div>